# File: docs/requirements.txt

sphinx==4.2.0
docutils==0.16
sphinx_rtd_theme==1.0.0
sphinx-tabs==3.2.0
sphinx-intl==2.0.1
readthedocs-sphinx-search==0.3.2
myst-parser==0.15.2

# Docs
sphinxemoji==0.1.9
sphinxcontrib-httpdomain==1.8.0
sphinx-prompt==1.4.0
sphinx-notfound-page==0.7.1
sphinx-autobuild==2021.3.14
